.chefsSecret {
  background-image: url('../../../../public/img/chefs_secret.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 520px;
  padding: 140px 0;
}

.playButton {
  height: 60px;
  margin: 0 auto;
}

.chefsHeading {
  padding: 20px 0;
  font-family: Fraunces;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
}

.chefsText {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.chefsContainer {
  height: 205px;
  width: 680px;
  text-align: center;
  margin: 0 auto;
}