@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hero */
.hero {
  min-height: 660px;
  background-image: url('./Hero.png');  
  background-size: cover;  
  background-repeat: no-repeat; 
}

.hero-header {
  padding-top: 20px;
  padding-left: 72px;
  padding-right: 72px;
}

.header-logo {
  height: 40px;
}

.hero-nav {
  width: 340px;
  height: 20px;
}  

.hero-main {
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: 72px;
  margin-right: 72px;
}  

.hero-main-left {
  width: 842px;
  height: 211px;
} 

.hero-main-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 50;
  color: #FFFFFF;
} 

.hero-main-text {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}  

.header-text {
  font-family: Fraunces;
  font-weight: 400;
  font-size: 16;
  color: #FFFFFF;
}

.header-text:hover {
  font-family: Fraunces;
  font-weight: 400;
  font-size: 16;
  color: #349705;
}

.hero-buttons {
  height: 40px;
  width: 338px;
}

.reservation-box {
  background: white;
  padding: 32px;
  width: 340px;
  height: 444px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-family: Inter;
}

.reservation-label {
  color: #349705;
  font-family: Fraunces;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 4px;
}

.reservation-title {
  font-size: 20px;
  font-family: Fraunces;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000;
}

form label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 14px;
}

form input,
form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 3px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 0px;
}

form button {
  background-color: #349705;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-weight: 600;
  font-size: 14;
  font-family: Inter;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: #43a047;
}

.hero-lower-textblock {
  width: 462px;
  height: 52px;
}

.hero-lower-textblock-book {
  font-family: Inter;
  font-weight: 600;
  font-size: 20;
  color: #FFFFFF;
}

.hero-lower-textblock-number {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 20;
  color: #349705;
}

.hero-lower-textblock-lower {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}

/* Splendid menu */
.splendid-menu {
  min-height: 666px;
  text-align: center;
  padding-top: 60px;
  padding-left: 72px;
  padding-right: 72px;
  background-color: #FFFFFF;
}

.splendid-menu-textblock {
  text-align: center;
  width: 610px;
  height: 86px;
  margin: auto;
  margin-bottom: 40px;
}

.splendid-menu-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 40;
  color: #0a0a0a;
  padding-top: 4px;
  height: 66px;
}

.splendid-menu-card1 {
  width: 306px;
  height: 420px;
  padding: 60px 30px;
  background-image: url(./desserts.png);
  background-size: cover;
}

.splendid-menu-card2 {
  width: 306px;
  height: 420px;
  padding: 60px 30px;
  background-image: url(./coffee.png);
  background-size: cover;
}

.splendid-menu-card3 {
  width: 306px;
  height: 420px;
  padding: 60px 30px;
  background-image: url(./breakfast.png);
  background-size: cover;
}

.splendid-menu-card4 {
  width: 306px;
  height: 420px;
  padding: 60px 30px;
  background-image: url(./cocktails.png);
  background-size: cover;
}

.splendid-menu-card-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 26;
  color: #FFFFFF;
  padding-bottom: 40px;
  height: 75px;
}

/* Sushi Meals */
.sushi-meals {
  min-height: 817px;
  text-align: center;
  padding: 60px 72px;
  background-color: #FFFFFF;
}

.sushi-meals-textblock {
  text-align: center;
  width: 700px;
  height: 160px;
  margin: auto;
  margin-bottom: 45px;
}

.sushi-meals-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 40;
  color: #0a0a0a;
  padding-top: 4px;
  padding-bottom: 24px;
  height: 77px;
}

.sushi-meals-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}

.sushi-card-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 24;
  color: #000000;
}

.sushi-card-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}

.sushi-card1 {
  width: 306px;
  height: 229px;
}

.sushi-uramaki {
  width: 140px;
  height: 130px;
}

.sushi-card2 {
  width: 306px;
  height: 261px;
  padding-top: 32px;
}

.sushi-maki {
  width: 140px;
  height: 130px;
}

.sushi-card3 {
  width: 736px;
  height: 497px;
  padding-left: 100px;
}

.sushi-set {
  width: 594px;
  height: 390px;
}

.sushi-cards-group {
  padding-left: 220px;
}

/* Best place */
.best-place {
  min-height: 720px;
  padding: 60px 72px;
}

.best-place-pics {
  width: 746px;
  height: 600px;
  position: relative;
}

.best-place-pic1 {
  width: 416px;
  height: 540px;
  background-image: url(./image-2.png);
  position: absolute;
  bottom: 0;
  left: 0;
}

.best-place-pic2 {
  width: 550px;
  height: 540px;
  background-image: url(./image-3.png);
  position: absolute;
  top: 0;
  right: 0;
}

.best-place-textbox {
  width: 526px;
  height: 312px;
  padding-left: 24px;
}

.best-place-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 38;
  color: #0a0a0a;
  height: 100px;
}

.best-place-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5e5e5e;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 148px;
}

/* Popular dishes */
.popular-dishes {
  min-height: 716px;
  text-align: center;
  padding: 60px 72px;
  background-color: #FFFFFF;
}

.popular-dishes-textblock {
  text-align: center;
  width: 700px;
  height: 146px;
  margin: auto;
  margin-bottom: 40px;
}

.popular-dishes-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 40;
  color: #0a0a0a;
  padding-top: 4px;
  padding-bottom: 24px;
  height: 77px;
}

.popular-dishes-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}

.popular-dishes-card1 {
  width: 306px;
  height: 410px;
}

.popular-dishes-card2 {
  width: 306px;
  height: 410px;
}

.popular-dishes-card3 {
  width: 306px;
  height: 410px;
}

.popular-dishes-card4 {
  width: 306px;
  height: 410px;
}

.popular-dishes-card-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 24;
  color: #0a0a0a;
  padding-bottom: 12px;
  height: 42px;
}

.popular-dishes-card-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5e5e5e;
  height: 49px;
}

/* Offers and promotions */
.promotions {
  min-height: 718px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 0px;
  background-color: #FFFFFF;
  padding: 71px 0px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 71px 72px;
}

.gallery__item--33 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
}

.gallery__item--44 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
}

.gallery__item--66 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 55px;
}

.learn-button {
  height: 40px;
  margin: auto;
}

.restaurant-button {
  height: 20px;
  margin: auto;
}

.offers-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 28;
  color: #ffffff;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.learn-button-left {
  height: 40px;
}

.offers-heading-left {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 28;
  color: #ffffff;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Order online */
.order-online {
  min-height: 985px;
  text-align: center;
  padding: 60px 72px;
  background-color: #FFFFFF;
}

.restaurant-icon {
  margin: auto;
}

.order-online-textblock {
  text-align: center;
  width: 700px;
  height: 128px;
  margin: auto;
  margin-bottom: 45px;
}

.order-online-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 40;
  color: #0a0a0a;
  padding-top: 4px;
  padding-bottom: 24px;
  height: 77px;
}

.order-online-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}

.order-left {
  width: 660px;
  height: 692px;
  padding-right: 24px;
}

.order-right {
  width: 660px;
  height: 692px;
  padding-left: 24px;
}

.order-menu-food {
  width: 636px;
  height: 108px;
  padding-top: 24px;
}

.order-menu-food-text {
  width: 544px;
  height: 54px;
}

.menu-header-pizzas {
  padding-bottom: 8px;
}

.menu-header-salads {
  padding-bottom: 8px;
}

.menu-header-main {
  padding-top: 64px;
  padding-bottom: 8px;
}

.food-header {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 20;
  color: #0a0a0a;
}

.food-cost {
  font-family: Inter;
  font-weight: 600;
  font-size: 20;
  color: #0a0a0a;
}

.food-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
  text-align: left;
  padding-left: 5px;
}

.avatar-food-1 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-2 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-3 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-4 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-5 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-6 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-7 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-8 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-9 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-10 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

.avatar-food-11 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: fill;
}

/* What client says */
.clients-says {
  min-height: 690px;
  text-align: center;
  background-color: #FFFFFF;
}

.quotes-icon {
  margin: auto;
  padding-top: 100px;
}

.clients-says-heading {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 50;
  color: #0a0a0a;
  padding-top: 40px;
  padding-bottom: 40px;
}

.clients-says-rewiewsbox {
  height: 311px;
  width: 855px;
}

.clients-says-rewiew {
  height: 198px;
  width: 839px;
  margin: auto;
}

.client-says-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #5E5E5E;
}

.client-says-rewiew-author {
  height: 97px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.client-says-avatars {
  height: 132px;
  margin: auto;
  padding-bottom: 32px;
}

.rewiew-list {
  height: 16px;
  margin: auto;
}

.client-says-rewiew-author-name {
  font-family: Fraunces;
  font-weight: 600;
  font-size: 24;
  color: #000000;
}

.client-says-rewiew-author-role {
  font-family: Inter;
  font-weight: 700;
  font-size: 16;
  color: #5E5E5E;
}

/* Chefs secret */
.chefs-secret {
  background-image: url('./chefs_secret.png');  
  background-size: cover;  
  background-repeat: no-repeat; 
  min-height: 520px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.play-button {
  height: 60px;
  margin: auto;
}

.chefs-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Fraunces;
  font-weight: 600;
  font-size: 40;
  color: #FFFFFF;
}

.chefs-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16;
  color: #FFFFFF;
}

.chefs-container {
  height: 205px;
  width: 680px;
  text-align: center;
  margin: auto;
}

/* Footer */

.footer {
  background-color: #0a0a0a;
  width: 100%;
}

.footer-logo {
  margin: auto;
  width: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-number {
  font-family: Fraunces;
  color: #349705;
  font-weight: 700;
  font-size: 24;
  text-align: center;
  padding-top: 28px;
}

.footer-heading {
  font-family: Fraunces;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20;
  margin: auto;
  text-align: center;
  padding-bottom: 24px;
}

.footer-text {
  font-family: Inter;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16;
  margin: auto;
  text-align: center;

}.footer-copyright {
  font-family: Inter;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16;
  opacity: 50%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}